<ion-tabs class="tabs-icon-top">
  <!-- home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Cities Tab -->
  <ion-tab title="Weekly Forecast" icon="icon ion-heart" href="#/tab/week">
    <ion-nav-view name="tab-week"></ion-nav-view>
  </ion-tab>

  <!-- Cities Tab -->
  <ion-tab title="Change City" icon="icon ion-heart" href="#/tab/city">
    <ion-nav-view name="tab-cities"></ion-nav-view>
  </ion-tab>
</ion-tabs>